WebInstitution/Service References/HealthPService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HpREST_Bridge" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHPService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IHPService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IHPService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="IHPService_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IHPService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IHPService_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_SearchInstitution_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchInstitution" />
  </wsdl:message>
  <wsdl:message name="IHPService_SearchInstitution_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchInstitutionResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_SearchAd_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAd" />
  </wsdl:message>
  <wsdl:message name="IHPService_SearchAd_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAdResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_InstitutionsSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:InstitutionsSubscribe" />
  </wsdl:message>
  <wsdl:message name="IHPService_InstitutionsSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:InstitutionsSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_SubscribeInstitution_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeInstitution" />
  </wsdl:message>
  <wsdl:message name="IHPService_SubscribeInstitution_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeInstitutionResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_UnsubscribeInstitution_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeInstitution" />
  </wsdl:message>
  <wsdl:message name="IHPService_UnsubscribeInstitution_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeInstitutionResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_ManagerLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ManagerLogin" />
  </wsdl:message>
  <wsdl:message name="IHPService_ManagerLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManagerLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_NearestInstitutions_InputMessage">
    <wsdl:part name="parameters" element="tns:NearestInstitutions" />
  </wsdl:message>
  <wsdl:message name="IHPService_NearestInstitutions_OutputMessage">
    <wsdl:part name="parameters" element="tns:NearestInstitutionsResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_EditInstitutionDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:EditInstitutionDetails" />
  </wsdl:message>
  <wsdl:message name="IHPService_EditInstitutionDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditInstitutionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IHPService_GetInstitution_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitution" />
  </wsdl:message>
  <wsdl:message name="IHPService_GetInstitution_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitutionResponse" />
  </wsdl:message>
  <wsdl:portType name="IHPService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/GetData" message="tns:IHPService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/GetDataResponse" message="tns:IHPService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/GetDataUsingDataContract" message="tns:IHPService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/GetDataUsingDataContractResponse" message="tns:IHPService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/GetAccounts" message="tns:IHPService_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/GetAccountsResponse" message="tns:IHPService_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/RegisterUser" message="tns:IHPService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/RegisterUserResponse" message="tns:IHPService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/UserLogin" message="tns:IHPService_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/UserLoginResponse" message="tns:IHPService_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchInstitution">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/SearchInstitution" message="tns:IHPService_SearchInstitution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/SearchInstitutionResponse" message="tns:IHPService_SearchInstitution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAd">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/SearchAd" message="tns:IHPService_SearchAd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/SearchAdResponse" message="tns:IHPService_SearchAd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InstitutionsSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/InstitutionsSubscribe" message="tns:IHPService_InstitutionsSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/InstitutionsSubscribeResponse" message="tns:IHPService_InstitutionsSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeInstitution">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/SubscribeInstitution" message="tns:IHPService_SubscribeInstitution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/SubscribeInstitutionResponse" message="tns:IHPService_SubscribeInstitution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeInstitution">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/UnsubscribeInstitution" message="tns:IHPService_UnsubscribeInstitution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/UnsubscribeInstitutionResponse" message="tns:IHPService_UnsubscribeInstitution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ManagerLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/ManagerLogin" message="tns:IHPService_ManagerLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/ManagerLoginResponse" message="tns:IHPService_ManagerLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NearestInstitutions">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/NearestInstitutions" message="tns:IHPService_NearestInstitutions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/NearestInstitutionsResponse" message="tns:IHPService_NearestInstitutions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditInstitutionDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/EditInstitutionDetails" message="tns:IHPService_EditInstitutionDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/EditInstitutionDetailsResponse" message="tns:IHPService_EditInstitutionDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstitution">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPService/GetInstitution" message="tns:IHPService_GetInstitution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPService/GetInstitutionResponse" message="tns:IHPService_GetInstitution_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHPService" type="tns:IHPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IHPService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IHPService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <soap:operation soapAction="http://tempuri.org/IHPService/GetAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IHPService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IHPService/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInstitution">
      <soap:operation soapAction="http://tempuri.org/IHPService/SearchInstitution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAd">
      <soap:operation soapAction="http://tempuri.org/IHPService/SearchAd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstitutionsSubscribe">
      <soap:operation soapAction="http://tempuri.org/IHPService/InstitutionsSubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeInstitution">
      <soap:operation soapAction="http://tempuri.org/IHPService/SubscribeInstitution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeInstitution">
      <soap:operation soapAction="http://tempuri.org/IHPService/UnsubscribeInstitution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManagerLogin">
      <soap:operation soapAction="http://tempuri.org/IHPService/ManagerLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NearestInstitutions">
      <soap:operation soapAction="http://tempuri.org/IHPService/NearestInstitutions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditInstitutionDetails">
      <soap:operation soapAction="http://tempuri.org/IHPService/EditInstitutionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstitution">
      <soap:operation soapAction="http://tempuri.org/IHPService/GetInstitution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HPService">
    <wsdl:port name="BasicHttpBinding_IHPService" binding="tns:BasicHttpBinding_IHPService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HpREST_Bridge/HPService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>